*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

ol, ul {
    list-style: none;
  }
  
  li a{
    text-decoration: none;
    color: white;
  }
  
  nav {
    color: white;
    text-decoration: none;
}